
    #callButton{
        border-radius: 10px;
        width:100%;
        background-color: #339FFF;
    }

    #clientId, #secretKey{
        width:100%;
        border-radius: 20px; 
    }

    #weather-table{
        width: 100%;
      
    }
   
    #weather-table thead{
        color: #fff;
        background-color: #000000;
        
    }

    #weather-table td{
        text-align: center;
        border-right: 2px solid black;
        border-bottom: 2px solid black;
    }
    