
    <div data-role="controlgroup" data-type="vertical">
        <input type="text" placeholder="Enter a valid number" name="user_input" id="usr_input" />


        <select id="aDropDown">
            <option id="factorial" value="factorial" name="factorial">Get Factorial</option>
            <option id="summation" value="summation" name="summation">Get Summantion</option>
        </select>
        <br>
        <br>
        <button id="calcButton" onclick="Calculation()">Calculate</button>
    </div>
    <br>
    <center>
        <div id="results">

        </div>
    </center>
