<h2>Welcome to my Node.js Web app.</h2>
<br>
<p>This app holds two functionalities: 
    <ul>
        <li>Factorial/Summation Calculator</li>
        <li>Seven Days Weather Forecast</li>
    </ul>
</p>
<p>
    Click on the Menu on the top left to view the links.
    You can then click on the desired menu item and you will be redirected to the respective template.
</p>
<p>
    On the calculator page, you enter the valid input and choose on the dropdown menu for factorial/summation. 
    <br>
    After this you click on the Calculate button and if the inputs are correct, you should be see the results.
    <br>
    Likewise, if you select the Weather menu, you will be redirected to the weather page.
    <br>
    Overthere, when you click the 'Get Forecast' button you should be able to view a table that displays the forecast for the recent seven days.
    <br>
    Lastly, when you click on the Home menu you should be redirected to this page.
</p>