<h2>Welcome to the Student Course Grade Repository</h2>
<br>

<p>Select a table to display:</p>
<div data-role="controlgroup" data-type="vertical">
    <Select id="aDropDown">
        <option id="sTable" value="studentTable">View Students Table</option>
        <option id="cTable" value="courseTable">View Coures Table</option>
        <option id="gTable" value="gradesTable">View Grades Table</option>
    </Select>
    <br>
    <button id="queryBtn" onclick="getData()">Get Table</button>
</div>
<p>
    Click on the Menu on the top left to view the links. You can then click on the desired menu item and you will be redirected
    to the respective template.
</p>

<br>
<h2>Add student</h2>
<label for="firstName" class="ui-hidden-accessible">First Name:</label>
<input type="text" name="firstName" id="firstName" placeholder="First Name" value="">
<label for="lastNamee" class="ui-hidden-accessible">Text Input:</label>
<input type="text" name="lastName" id="lastName" placeholder="lastName" value="">
<label for="dob" class="ui-hidden-accessible">Date of Birth:</label>
<input type="date" name="dob" id="dob" value="">
<label for="major" class="ui-hidden-accessible">Major</label>
<input type="text" name="major" id="major" placeholder="Major" value="">
<button onclick="addStudent()">Add Student</button>

<center>
    <div id="results">

    </div>
</center>